<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="dist/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <meta http-equiv="content-type" content="text/html; charset=utf-8" /> -->
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
    />
    <!-- <link rel="apple-touch-icon" href="logo192.png" /> -->
    <link rel="manifest" href="manifest.json" crossorigin="use-credentials" /> 
    <title><%=htmlWebpackPlugin.options.title%></title>
  </head>

  <script>
    window.lastUsedList = <?-lastUsedList?>;
    window.actuallyEmpty = <?-userListActuallyEmpty?>;
  </script>
  
  <body>
    <div id="root"></div>
  </body>
</html>