body, html{
    margin: 0px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

$black: black;
$white: white;
$headerHeight: 60px;
$commonMargin: 16px;
$smallMargin: 5px;

#videogrid{
    display: grid;grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 300px;
}

video{
    width:100%;
    height: 100%;
    object-fit: cover;
}

#header {
    h1 {
        margin-left: 7.5%;
        color: white;
        width: 50%;
        float: left;
    }

    ul{
        display: inline;
    }

    li{
        display: inline;
    }
    button{
        color: white;
    }
}

#main{
    width: 100%;
    margin: auto;
    padding-top: $headerHeight+ $commonMargin;
    
    >div {
        width: 85%;
        margin: auto;
    }
}

button, input[type=submit]{
    border-radius: 1em;
    padding: $smallMargin;
    text-transform: uppercase;
    color: $white;
    background-color: $black;
    border: 0px;
}

.additem{
    float: left;
}

.clearall{
    float: right;
}

#header a{
    color: white;
    text-decoration: none;
}

.deleteTodo{
    background-color: $black;
    color: $white;
    float: right;
    content: 'x'; // here is your X(cross) sign.
}

#mdiv {
    width: 25px;
    height: 25px;
    background-color: $black;
  }
  
  .mdiv {
    height: 25px;
    width: 2px;
    margin-left: 12px;
    background-color: white;
    transform: rotate(45deg);
    z-index: 1;
  }
  
  .md {
    height: 25px;
    width: 2px;
    background-color: white;
    transform: rotate(90deg);
    z-index: 2;
  }

#root{
    height: 100%;
    width: 100%;
}

#todolist{
    width: 100%;
    // background-color: orange;
    padding-top: $commonMargin;
    box-sizing: border-box;
}

#header{
    width: 100vw;
    position: absolute;
    left: 0px;
    top: 0px;
    height: $headerHeight;
    background-color: $black;
}

.todoItem{
    width: 100%;
    margin-bottom: $smallMargin;
    box-sizing: border-box;
    border: 1px solid white;
    border-bottom: 1px solid black;
    padding-top: $smallMargin;
    
    input{
        padding: 0px;
        width: calc(100% - 30px);
        border: 0px;
        background-color: rgba(0,0,0,0);
        float: left;
        height: 100%;
    }
}

.clear{
    clear:both;
}

#app{
    height: 100vh;
}

.test{
    height: 100vh;
}

:focus{
    outline: none;
}

.hidden{
   -webkit-transform: translate(0,-100%);
   transform: translate(0,-100%);
}

.anim{
  transition: all ease-in-out 1s;
}

#loginFormsContainer{
    overflow: hidden;
    box-sizing: border-box;
    height: auto;
}